.d-f{
  display: flex;
}

.jc-sb{
  justify-content: space-between;
}

.quickBooking-container{
  background-color: rgb(226, 181, 181);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}