.loginPage {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('/public/image/4420.jpg');
  background-size: cover;
}

.loginPage__logo p {
  color: #004f5d;
  font-family: 'Baloo 2', sans-serif;
  font-size: 5vh;
  padding-top: 1vh;
  padding-left: 2vh;
}

.loginPage__form {
  width: 30%;
  background-color: #ffffff;
}
